/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*,*::before,*::after{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
img{
   display: block; 
}
a{
  
}
.wrap{
  width: 0 0;
  margin: 0 auto;

}
.container{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 975px;
  background: transparent url('img/photo-1552393700-42696fb89bfa.png');
  background-repeat: repeat-x;
  background-size: cover;
  border: 1px solid #707070;
  opacity: 1;
}

.container-logo ul{
  display: flex;
}

.container-title{
  color: #fff;;
  font-weight: bold;
}
.container-title span{
  font-size: 24px;
  line-height: 42px;
}
.container-title h1{
  font-size: 80px;

}
.container-title p{
  font-size: 24px;
  line-height: 36px;
  margin-top:  32px;
  margin-bottom: 40px;
}
.container-logo img {
  margin-right: 16px;
}
.introduction{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.introduction-title h3{
  font-size: 64px;
  line-height: 84px;
  margin-top: 56px;
}
.introduction-title img{
  margin-top:40px;
}
.self-introduction h3{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.data{
  margin-bottom: 8px;
}
.self-introduction p{
  font-size: 24px;
  margin-bottom: 24px;
}

.self-introduction ul li{
  height: 60px;
  font-size: 24px;
  list-style-type: disc;
  list-style-type: #891818;
  text-indent: -5px;
  align-items: center;
}

.brand{
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1406px;
  background: #000000;
  background-repeat: repeat-x;
  background-size: cover;
  border: 1px solid #707070;
  opacity: 1;
}
.brand-title{
  color: white;
}